/*
========================================
Game Play layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Game Play layout
========================================
*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* min-height: 100vh; */
    overflow: hidden;
    padding: 8vh 8vw;
}
/* 
.containerMain {
    margin: 0 auto;
    max-width: 1000px;
    height: 78vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: grey;
    position: relative; 
  } */

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  height: 10vh;
  width: 10vh;
  position: relative;
  background-image: url('../images/button_question.png');
  background-size: cover; 
  background-repeat: no-repeat; 
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover {

}
  .row {
  margin: 0;
  padding: 0;
}