/*
========================================
Game Play layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Game Play layout
========================================
*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* min-height: 100vh; */
    overflow: hidden;
    padding: 8vh 8vw;
}

.containerMain {
    margin: 0 auto;
    max-width: 1000px;
    height: 78vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: grey;
    position: relative; 
  }

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  height: 100px; 
  width: 100px; 
}

.row {
  margin: 0;
  padding: 0;
}