/*
========================================
Game Play layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Game Play layout
========================================
*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* min-height: 100vh; */
    overflow: hidden;
    padding: 8vh 8vw;
}
/* 
.containerMain {
    margin: 0 auto;
    max-width: 1000px;
    height: 78vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: grey;
    position: relative; 
  } */
.TTTboard {
  height: 10vh;
  width: 10vh;
  position: relative;
  background-image: url('../images/button_question.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  z-index: 1;
}


  .row {
  margin: 0;
  padding: 0;
}


.player-1-botton {
  height: 10vh;
  width: 10vh;
  position: relative;
  background-image: url('../images/button_player_1.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  z-index: 10;
}

.player-2-botton {
  height: 10vh;
  width: 10vh;
  position: relative;
  background-image: url('../images/button_player_2.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  z-index: 10;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Create a custom radio button */

