/*
========================================
Index.html layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Main Container
========================================
*/
    body {
      background-image: url('../images/backgrounds/static_background.png');
       background-size: cover;
     background-repeat: no-repeat;
               display: flex;  
        flex-direction: column;
                margin: 0 auto;
            min-height: 100vh;
              overflow: hidden;
               padding: 8vh 8vw;
    }

    .containerMain {
            background:white;
                border: 2px solid navy;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                height: 78vh; 
                  left: 4vw; 
                margin: 0 auto;
             max-width: 62vw;
                 width: 100%;
            max-height: 78vh;
            min-height: 40vh; 
              overflow: scroll; 
               padding: 40px; 
              position: absolute;
            
    }

    .container-game, #categorySelect {
           padding-top: 4vh; 
    }

/*
========================================
Chat Box Styling 
========================================
*/

    .chat-box {
              margin: 0 auto;
           max-width: 53vw; 
           min-width: 1px; 
               width: 100%;         
        padding-left: 4vw; 
       padding-right: 4vw; 
    }

    .chat-2 {
              bottom: 18vh; 
           max-width: 53vw;
               width: 100%;  
            position: absolute;   
    }

    .chat-3 {
              bottom: 18vh; 
                left: 20vw; 
           max-width: 60vw; 
               width: 100%; 
            position: absolute; 
             z-index: 2;
    }

    #chat-log-1 {
         font-family: 'Roboto', sans-serif;
          max-height: 100px;
           max-width: 53vw; 
               width: 100%;
            overflow: scroll;
          overflow-x: hidden;  
    }

/*
========================================
Videos
========================================
*/

    #myVideo { /* Video background */
             bottom: 0;
           position: fixed; 
         min-height: 100%;
          min-width: 100%; 
           overflow: hidden;
              right: 0;
          transform: scaleX(-1);
            z-index: -1;
    }

    #myVideo2 { /* Instructions Video */
            display: inherit;
             height: auto;
             margin: 0 auto; 
          max-width: 250px;
              width: 100%;
    }

/*
========================================
Typography 
========================================
*/

    .start-title {
      background-color: white; 
                border: 2px solid navy;
                height: auto; 
                  left: 0; 
             max-width: 71vw; 
                 width: 100%;
               padding: 20px; 
              position: absolute; 
                   top: 29vh;
               z-index: 1; 
    }

    h1, h2 {
                 color: black; 
               display: table;
                margin: 0 auto; 
               padding: 10px;
            text-align: center; 
    }
    h1 {
                 color: rgb(14, 14, 51);
           font-family: 'Vast Shadow', cursive;
             font-size: 4rem; 
    }

    #introduction h1 {
           line-height: 1.5; 
             font-size: 2rem; 
    }

    h2 {
                 color: blue;
           font-family: 'Roboto', sans-serif;
             font-size: 1.2rem; 
           line-height: 1.2;
         margin-bottom: 2vh; 
            margin-top: 2vh;     
    }

    h2:hover {
                 color: rgb(14, 14, 51);
       text-decoration: underline;    
    }

    h3 {
                 color: rgb(14, 14, 51);
           font-weight: bold; 
           padding-top: 10px; 
            text-align: left; 
    }

    input, p, #categorySelect {
           font-family: 'Roboto', sans-serif;
    }

    #game-play p {
           font-family: 'Roboto', sans-serif;
    }


/*
========================================
Buttons 
========================================
*/

    .btn-start {
               border: none; 
          font-family: 'Roboto', sans-serif;
               height: 50px; 
                 left: 1.5vw; 
       letter-spacing: 1px;
               margin: 0 auto; 
          margin-left: 20px; 
         margin-right: 20px; 
   
    }
    .btn-start:hover {
      background-color: rgb(14, 14, 51);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                 color: white;
           font-weight: bold; 
    }

    .radio-buttons {
               display: table;
           font-family: 'Roboto', sans-serif;
            text-align: left;   
    }

    .btn {
      background-color: rgb(14, 14, 51);
           font-family: 'Roboto', sans-serif;
        letter-spacing: 1px; 
            margin-top: 1vh; 
    }

    #submit-player, #play-now, #play-again {
           font-family: 'Roboto', sans-serif;
                  left: 0px; 
        letter-spacing: 1px; 
                margin: 0 auto;
            margin-top: 2vh;
              position: relative; 
    }

    #invite-friend {
                border: 1px solid  rgb(14, 14, 51);
           font-family: 'Roboto', sans-serif;
        letter-spacing: 1px; 
            margin-top: 4vh; 
               padding: 10px; 
    }

/*
========================================
Forms 
========================================
*/

    #user-info {
           margin-top: 10px; 
    }

    textarea {
               border: none; 
    }

/*
========================================
Instructions 
========================================
*/

    li {
            font-size: 1.1rem;
          line-height: 1.5; 
      list-style-type: square;  
           text-align: left;
    }

    li:hover {
                color: blue;
        border-bottom: 1px solid blue; 
          font-weight: bold; 
    }

    .instructions {
           margin-top: 2vh; 
        margin-bottom: 2vh; 
    }

    .intro {
       padding-bottom: 2vh; 
    }

/*
========================================
Leader Board
========================================
*/

    th {
      border-bottom: 1px solid grey;
        font-family: 'Roboto', sans-serif;
          font-size: 1.2rem;  
      margin-bottom: 2vh; 
         margin-top: 2vh; 
     padding-bottom: 2vh;
    }


