/*
========================================
Index.html layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Main Container
========================================
*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* min-height: 100vh; */
    overflow: hidden;
    padding: 8vh 8vw;
}

.containerMain {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 78vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: grey;
    position: relative; 
    padding: 4vh 4vw; 

}

.row-1 {
  margin: 0 auto;
  padding-left: 0 4vw; 
  height: 5vh; 

}

/*
========================================
Chat Box Styling 
========================================
*/

.chat-box {
  margin: 0 auto;
  position: absolute; 
  max-height: 400px; 
  max-width: 100%; 
  width: 900%; 
  min-width: 1px; 
  padding-left: 4vw; 
  padding-right: 4vw; 
  bottom: 4vw; 
}

#chat-log {
  max-height: 150px;
  overflow: scroll;
}