/*
========================================
Index.html layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Main Container
========================================
*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    padding: 8vh 8vw;
}

.containerMain {
    margin: 0 auto;
    max-width: 62vw;
    width: 100%;
    height: 78vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background:white;
    position: absolute; 
    padding: 4vh 4vw; 
    left: 4vw; 

}

.row-1 {
  margin: 0 auto;
  padding-left: 0 4vw; 
  height: 5vh; 

}

/*
========================================
Chat Box Styling 
========================================
*/


.chat-box {
  margin: 0 auto;
  position: absolute; 
  max-height: 400px; 
  max-width: 100%; 
  width: 900%; 
  min-width: 1px; 
  padding-left: 4vw; 
  padding-right: 4vw; 
  bottom: 4vw; 
}

#chat-log {
  max-height: 150px;
  overflow: scroll;
}

/*
========================================
Video Background
========================================
*/

#myVideo {
  /* flex-grow: 1; */
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  overflow: hidden;
  transform: scaleX(-1);
  z-index: -1;
}

/*
========================================
Typography 
========================================
*/

/* Section 1 - Start Page Typography */
.start-title {
  background-color: white; 
  position: absolute; 
  height: auto; 
  max-width: 71vw; 
  width: 100%;
  left: 0; 
  top: 30vh;
  z-index: 1; 
  padding: 20px; 
}

.start-title h1, h2 {
  display: table;
  margin: 0 auto; 
  text-align: center; 
  font-family: arial; 
  color: black; 
  padding: 10px; 
}
.start-title h1 {
  font-size: 4rem; 
}

.start-title h2 {
  font-size: 1.8rem; 
}

/*
========================================
Buttons 
========================================
*/

.btn-start {
  left: 1.5vw; 
  height: 100px; 
  margin: 0 auto; 
  border: none; 
  margin-left: 20px; 
  margin-right: 20px; 

}